@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--fonts-sans) !important;
}

.scroll-none {
  scrollbar-width: none; /* Firefox uchun */
  -ms-overflow-style: none;  /* Internet Explorer va Edge uchun */
}

.container2 {
  @apply max-w-[1160px] mx-auto;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 355 77.8% 60.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 355 67% 92%;
    --secondary-foreground: 355 77.8% 30%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 355 67% 96%;
    --accent-foreground: 355 77.8% 30%;
    --destructive: 0 84.2% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 355 77.8% 90%;
    --input: 355 77.8% 90%;
    --ring: 355 77.8% 60.2%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 355 77.8% 60.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 355 67% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 355 67% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 69.5% 39.2%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 355 67% 20%;
    --input: 355 67% 20%;
    --ring: 355 77.8% 60.2%;
  }

  
}

@layer base {
  * {
    @apply border-border !font-sans;
  }
  body {
    @apply bg-background text-foreground !font-sans;
  }
}

.slick-dots{
  display: none !important;
}

.slick-prev:before, .slick-next:before{
    font-size: 30px !important;    
    color: hsl(var(--primary)) !important;
}

